#get-in-touch {
  background: url(../img/bg_unsubscribe.png) center no-repeat;
  background-size: cover;
  padding: 60px 0;
  font-family: Lato, sans-serif;

  .form {
    width: 100%;
    max-width: 400px;
    color: #fff;
    background: rgba(15, 152, 72, 0.8);
    padding: 30px;
    margin: 87px auto 0;
    border: none;

    &__row {
      position: relative;
    }

    &__title {
      font-family: Lato, sans-serif;
      font-weight: normal;
      font-size: 40px;
      text-transform: uppercase;
      color: #fff;
      margin-bottom: 25px;
      text-align: center;
    }

    &__label {
      display: block;
      color: #fff;
      font-size: 16px;
      margin-bottom: 5px;

      .msg-required {
        position: absolute;
        right: 0;
        bottom: -15px;
        color: #fff;
        font-family: Lato, sans-serif;
        font-size: 12px;
      }
    }

    &__inp {
      display: block;
      width: 100%;
      height: 36px;
      padding: 5px 10px;
      color: #fff;
      margin-bottom: 10px;
      background-color: transparent;
      border: 1px solid #fff;
      font-family: Lato, sans-serif;

      &.inp-required {
        color: $colorRed;
        border-color: $colorRed;
      }
    }

    &__textarea {
      width: 100%;
      min-height: 93px;
      color: #fff;
      background-color: transparent;
      border: 1px solid #fff;
      padding: 3px 10px;
      font-family: Lato, sans-serif;
      resize: none;
    }

    &__btn {
      display: block;
      margin: 65px auto 0;
      padding: 6px 50px 8px;
      color: #fff;
      background-color: $colorRed;
      font-family: Lato, sans-serif;
      font-size: 22px;
      line-height: 22px;
      border: 2px solid $colorRed;
      border-radius: 4px;
      cursor: pointer;
      transition: all 0.2s linear;

      &:hover {
        background-color: transparent;
      }
    }
  }

  .cancel-sub {
    margin-top: 130px;

    &__title {
      font-family: Lato, sans-serif;
      font-size: 24px;
      font-weight: normal;
      text-align: center;
      margin-bottom: 30px;
    }

    .title__red {
      color: $colorGreen;
    }

    .title__row {
      margin-bottom: 7px;
    }

    &__p {
      font-family: Lato, sans-serif;
      line-height: 26px;
      font-size: 16px;
      margin-bottom: 30px;
    }


    .desc__block {
      font-family: Lato, sans-serif;
      margin-bottom: 20px;

      &:before {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        border: none;
        border-radius: 50px;
        background-color: $colorGreen;
        margin-right: 15px;
      }
    }
  }
}

#question-section {
  background-color: #E7E9EC;
  padding-top: 40px;
  padding-bottom: 70px;
  font-family: Lato, sans-serif;

  .question-section__img {
    width: 100%;
    height: auto;
  }

  h4 {
    font-family: Lato, sans-serif;
    line-height: 38px;
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 10px;
  }

  p {
    line-height: 26px;
    font-size: 16px;
  }

  .h2__title {
    display: block;
    font-family: Lato, sans-serif;
    font-size: 48px;
    line-height: 70px;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;

    .subtitle {
      font-family: Lato, sans-serif;
      font-size: 36px;
      text-transform: lowercase;
    }
  }

  .faq__title {
    &:before,
    &:after {
      content: '';
      display: inline-block;
      width: 170px;
      height: 2px;
      background-color: $colorGreen;
      margin: 15px 25px;
    }
  }

  .question-block {
    max-width: 830px;
    width: 100%;
    padding: 25px 30px;
    margin: 0 auto 30px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);

    &__title {
      font-family: Lato, sans-serif;
      font-size: 24px;
      line-height: 32px;
      cursor: pointer;
    }

    &__answer {
      font-family: Lato, sans-serif;
      line-height: 26px;
      font-size: 16px;
      margin-top: 10px;
      margin-left: 40px;
      display: none;

      &.active {
        display: block;
      }
    }
  }

  .desc__block {
    margin-bottom: 20px;

    &:before {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      border: none;
      border-radius: 50px;
      background-color: $colorGreen;
      margin-right: 15px;
    }
  }
}


@media screen and (max-width: 767px) {
  #question-section {
    .faq__title {
      &:before,
      &:after {
        width: 130px;
      }
    }
  }
}


@media screen and (max-width: 575px) {
  #get-in-touch {
    .form__title {
      font-size: 38px;
    }

    .cancel-sub__title {
      font-size: 20px;
    }
  }

  #question-section {
    .question-section__img {
      display: block;
      width: 200px;
      height: auto;
      margin: 0 auto;
    }

    .faq__title {
      &:before,
      &:after {
        width: 40px;
        margin: 10px 15px;
      }
    }

    .question-block {
      padding: 15px;

      &__title {
        font-size: 18px;
        line-height: 22px;
      }

      &__answer {
        line-height: 20px;
        font-size: 14px;
        margin-left: 20px;
      }
    }

    .h2__title {
      font-size: 30px;
      line-height: 40px;

      .subtitle {
        font-size: 24px;
      }
    }
  }
}