/*-----FONTS-----*/
@font-face {
  font-family: 'Josefin';
  src: url('../fonts/JosefinSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'JosefinLight';
  src: url('../fonts/JosefinSans-Light.ttf') format('truetype');
}