/*-----FONTS-----*/
@font-face {
  font-family: 'Gugi';
  src: url('../fonts/Gugi-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'GothicLight';
  src: url('../fonts/GothicA1-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'GothicRegular';
  src: url('../fonts/GothicA1-Regular.ttf') format('truetype');
}