/*-----FONTS-----*/
@font-face {
  font-family: 'LatoLight';
  src: url('../fonts/Lato-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'LatoBold';
  src: url('../fonts/Lato-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'LatoBlack';
  src: url('../fonts/Lato-Black.ttf') format('truetype');
}