/*-----FONTS-----*/
@font-face {
  font-family: 'Wowi';
  src: url('../fonts/Wowi-Typeface.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Regular.ttf') format('truetype');
}
