#header-unsubscribe {
  position: fixed;
  width: 100%;
  background-color: $colorBlue;
  padding: 15px 0 15px;
  z-index: 100;
  min-height: 75px;

  .header {
    display: flex;
    align-items: center;
    width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    font-family: Rubik, sans-serif;

    .logo {
      display: inline-block;
      font-family: Wowi, sans-serif;
      font-size: 30px;
      color: #fff;
      text-decoration: none;
      margin-right: 100px;
    }

    .navbar-list {
      display: inline-block;

      ul {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        li {
          a {
            font-size: 15px;
            text-transform: uppercase;
            color: #fff;
            margin-right: 53px;
            letter-spacing: 0.2px;
            text-decoration: none;

            &.active {
              color: $colorRed;
            }
          }
        }
      }

      &.toggleActive {
        opacity: 1;
        visibility: visible;
        transition: .3s linear;
      }
    }

    .menu-icon {
      display: none;
      width: 30px;
      cursor: pointer;

      &-line {
        border-radius: 3px;
        background: #fff;
        display: block;
        height: 2px;
        margin: 6px 0;
        width: 100%;
        transition: all 0.25s ease;
      }

      &:before {
        border-radius: 3px;
        background: #fff;
        content: '';
        display: block;
        height: 2px;
        margin: 6px 0;
        width: 100%;
        transition: all 0.25s ease;
      }

      &:after {
        border-radius: 3px;
        background: #fff;
        content: '';
        display: block;
        height: 2px;
        margin: 6px 0;
        width: 100%;
        transition: all 0.25s ease;
      }
    }
  }
}


.effect:after {
  transform: translateY(-8px) rotate(225deg);
}

.effect .menu-icon-line {
  transform: rotate(180deg);
  opacity: 0;
}

.effect:before {
  transform: translateY(8px) rotate(135deg);
}


@media screen and (max-width: 1199px) {
  #header-unsubscribe {
    .header {
      width: 960px;
    }
  }
}


@media screen and (max-width: 991px) {
  #header-unsubscribe {
    .header {
      width: 100%;
      justify-content: space-between;

      .logo {
        margin-right: 0;
      }

      .navbar-list {
        transition: .3s linear;
        visibility: hidden;
        opacity: 0;
        position: fixed;
        top: 75px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $colorBlue;
        text-align: center;

        ul {
          position: absolute;
          top: 10%;
          left: 50%;
          transform: translateX(-50%);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          li {
            a {
              display: block;
              margin: 30px 0;
              font-size: 20px;
            }
          }
        }
      }

      .menu-icon {
        display: block;
      }
    }
  }
}